<div class="md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-5">
  <% song_informations.each do |info| %>
    <%= render partial: "song_informations/song_information", locals: {song_information: info} %>
  <% end %>
</div>