<div class="w-screen h-screen">
  <iframe
    src="https://docs.google.com/forms/d/e/1FAIpQLSf9DETMR1BEFeiYsm5GvbRlO9twU3CAggXFa773yKr9cO-iNw/viewform?embedded=true" 
    class="w-full h-full"
    frameborder="0"
    marginheight="0"
    marginwidth="0"
    allowfullscreen>
    読み込んでいます…
  </iframe>
</div>
