<div
  class="hero min-h-screen"
  style="background-image: url(https://img.daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.webp);">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="text-2xl md:text-3xl mb-5 font-bold">大衆情報局へようこそ</h1>
      <p class="mb-5">
        PEOPLE 1リスナー（通称大衆）向けに作成した、<strong>非公式</strong>ファンサイトです。ライブ後・楽曲リリース後の感想戦や、インスタライブやインタビュー等で発信された情報交換のプラットフォームとして利用することができます。また、PEOPLE 1の活動を年表形式で保存・閲覧できるPEOPLE 1ヒストリーも後日解禁予定です。
      </p>
      <% unless user_signed_in? %>
        <%- User.omniauth_providers.each do |provider| %>
          <%= button_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path("user", provider), data: { turbo: false }, class: "btn btn-primary" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>