<h1><%= title "通知" %></h1>

<% if @notices.present? %>
  <%= link_to "すべて既読", "/notices", data: { "turbo-method": :delete }, class: "btn btn-neutral" %>
  <%= render partial: "notice", locals: {notices: @notices} %>
<% else %>
  <p>通知はありません。</p>
<% end %>
