<div class="m-3">
  <h1 class="text-center font-extrabold	sm:text-lg md:text-2xl mb-5">
    <%= title "通知" %>
  </h1>

  <% if @notices.present? %>
    <div class="grid justify-items-end mb-5">
      <div>
        <%= link_to "すべて既読", "/notices", data: { "turbo-method": :delete }, class: "btn btn-primary" %>
      </div>
    </div>
    <%= render partial: "notice", locals: {notices: @notices} %>
  <% else %>
    <p>通知はありません。</p>
  <% end %>
<div>