<div class="text-sm md:text-base">
  <% if setlistitem_info.liked_by?(current_user) %>
    <%= link_to setlistitem_information_likes_on_setlistitem_informations_path(setlistitem_info), data: { "turbo-method": :delete } do %>
      <i class="fa-solid fa-heart"></i>
    <% end %>
    <%= setlistitem_info.likes_on_setlistitem_informations.length %> いいね
  <% else %>
    <%= link_to setlistitem_information_likes_on_setlistitem_informations_path(setlistitem_info), data: { "turbo-method": :post } do %>
      <i class="fa-regular fa-heart"></i>
    <% end %>
    <%= setlistitem_info.likes_on_setlistitem_informations.length %> いいね
  <% end %>
</div>