<div class="">
  <ul class="timeline timeline-vertical timeline-compact">
    <% @histories.each_with_index do |history, i| %>
      <% case history %>
      <% when Event %>
        <%= render partial: 'histories/event', locals: { event: history, i: i } %>
      <% when Disc %>
        <%= render partial: 'histories/disc', locals: { disc: history, i: i } %>
      <% when History %>
        <%= render partial: 'histories/history', locals: { history: history, i: i } %>
      <% end %>
    <% end %>
  </ul>
</div>

<%= paginate @histories %>