<div class="">
  <ul class="timeline timeline-vertical">
    <% @histories.each_with_index do |history, i| %>
      <%= render partial: 'history', locals: { history: history, i: i + 1 } %>
    <% end %>
  </ul>
</div>

<%= paginate @histories %>