<div class="flex justify-center">
  <% if @events.present? %>
    <div class="md:grid md:grid-cols-2 lg:grid-cols-4 md:grid-3 gap-5">
      <%= render partial: 'events/event', collection: @events %>
    </div>
  <% else %>
    <div class="mb-3">イベント情報がありません</div>
  <% end %>
</div>

<%= paginate @events %>
<br>