<% setlistitems.each do |item| %>
  <div class="collapse collapse-arrow border-base-300 border mb-5 bg-base-300 z-10">
    <input type="checkbox" name="my-accordion-4" class="w-full" />
    <div class="collapse-title text-base md:text-xl md:px-8">
      <%= song_display(item) %>
    </div>
    <div class="collapse-content w-full">
      <% if item.song_id.present? %>
        <div class="mb-5">
          <%= link_to "楽曲の詳細を見る", song_path(id: item.song_id), class: "link" %>
        </div>
      <% end %>
      <%= render partial: 'setlistitem_informations/form', locals: {item: item} %>
      <%= render partial: 'setlistitem_informations/setlistitem_informations', locals: {item: item, infos: infos.select{|i| i.setlistitem_id == item.id}} %>
    </div>
  </div>
<% end %>