<% setlistitems.each do |item| %>
  <div class="join join-vertical w-full">
    <div class="collapse collapse-arrow join-item border-base-300 border mb-5">
      <input type="radio" name="my-accordion-4" checked="checked" />
      <div class="collapse-title text-base md:text-xl font-medium">
        <p><%= song_display(item) %></p>
      </div>
      <div class="collapse-content w-full">
        <%= render partial: 'setlistitems/form', locals: {item: item} %>
        <%= render partial: 'setlistitems/setlistitem_informations', locals: {item: item, infos: infos} %>
      </div>
    </div>
  </div>
<% end %>