<div class="p-10">
  <h1>Events index</h1>
</div>

<div class="justify-center">
  <div class="flex inline-flex flex-wrap">
    <% if @events.present? %>
      <%= render @events %>
    <% else %>
      <div class="mb-3">イベント情報がありません</div>
  <% end %>
  </div>
</div>