<div class="m-5">
  <h1 class="flex justify-center text-3xl mb-5">
    <%= title "イベント一覧" %>
  </h1>

  <div class="grid justify-items-end mb-7">
    <%= render partial: "events/modals/search_form_modal" %>
  </div>

  <div>
    <%= render partial: 'events' %>
  </div>
</div>
