<div class="m-3">
  <h1 class="text-center font-extrabold	sm:text-lg md:text-2xl mb-5">
    <%= title "イベント一覧" %>
  </h1>

  <div class="mb-5">
    <%= render partial: "events/modals/search_form_modal" %>
  </div>

  <div>
    <%= render partial: 'events' %>
  </div>
</div>
