<div class="m-3">
  <h1 class="text-center font-extrabold	sm:text-lg md:text-2xl mb-5">
    <%= title "イベント一覧" %>
  </h1>

  <div class="divider mb-5">絞り込み</div>
  <div class="my-5">
    <%= render partial: 'search_form' %>
  </div>

  <%= turbo_frame_tag "events_list" do %>
    <div class="divider"></div>
    <div>
      <%= render partial: 'events' %>
    </div>
  <% end %>
</div>
