<div class="card w-full shadow-2xl mb-7 bg-base-300 text-base-content">
  <figure>
  <% if song.disc_items.present? && song.disc_items.first.disc_content.disc_version.jacket.attached? %>
    <%= image_tag song.disc_items.first.disc_content.disc_version.jacket.variant(resize_to_fill: [500, 250]) %>
  <% else %>
    <%= image_tag 'default_people_1.jpg' %>
  <% end %>
  </figure>
  <div class="card-body p-4">
    <h2 class="card-title mb-3"><%= song.name %></h2>
    <div class="card-actions justify-end">
      <%= link_to "詳細", song_path(song), class: 'btn btn-primary' %>
    </div>
  </div>
</div>
