<div class="">
  <div class="">
    <h1><%= title "楽曲一覧" %></h1>
  </div>

  <div class="justify-center">
    <div class="flex inline-flex flex-wrap">
      <% if @songs.present? %>
        <%= render @songs %>
      <% else %>
        <div class="mb-3">楽曲情報がありません</div>
    <% end %>
    </div>
  </div>
</div>

<%= paginate @songs %>