<div class="m-3">
  <h1 class="flex justify-center text-3xl">
    <%= title "楽曲一覧" %>
  </h1>

  <div class="grid justify-items-end mb-7">
    <%= render partial: "songs/modals/search_form_modal" %>
  </div>

  <div class="flex justify-center">
    <div class="md:w-1/3 md:mx-3">
      <% if @songs.present? %>
        <%= render @songs %>
      <% else %>
        <div class="mb-3">楽曲情報がありません</div>
    <% end %>
    </div>
  </div>
</div>

<%= paginate @songs %>