<div class="">
  <h1><%= title @song.name %></h1>

  <iframe
    src="https://www.youtube.com/embed/<%= find_youtube_url(@song.youtube_link) %>"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
    class="w-full aspect-video">
  </iframe>

  <div class="divider"></div>
  <%= render 'informations/form', information: @song_information, song: @song %>
  <%= render "songs/song_information" %>

</div>