<div class="card bg-base-100 image-full w-96 shadow-xl p-10">
  <figure>
    <img
      src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
      alt="Shoes" />
  </figure>
  <div class="card-body">
    <h2 class="card-title my-10">
      <%= tour.name %>
    </h2>
    <div class="card-actions justify-end">
      <button class="btn btn-primary">Details</button>
    </div>
  </div>
</div>