<% if link_contents.present? %>
  <% link_contents.each do |link| %>
    <%= render partial: "links/link", locals: { link: link.link.url_link } %>
  <% end %>
<% else %>
  <p class="text-center">
    SNS上で動画は見つかりませんでした🤥
  </p>
<% end %>