<div class="mt-10">
  <h1 class="flex justify-center text-3xl">マイページ</h1>
</div>

<div class="flex justify-center">
  <div class="mt-10 flex items-center mx-5 px-10 border-2	border-white rounded-lg">
    <img src="<%= current_user.image %>" class="w-50 rounded-full m-3">
    <%= current_user.name %>
  </div>
</div>