<%= form_with model: information, url: song_song_informations_path(song) do |f| %>
  <div class="card bg-base-100 w-96 shadow-xl mb-5">
    <div class="card-body">
      <h2 class="card-title"><%= f.label :body %></h2>
      <%= f.text_area :body, class: "textarea", placeholder: "情報を投稿しましょう" %>
      <div class="card-actions justify-end">
        <%= f.submit 'Post', class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>