<% @disc_contents.each do |content| %>
  <% if content.disc_version_id == version.id %>
    <div class="my-3">
      <%= "【" + content.event.name + "】" if content.events? %>
      <%= "【特典映像】" if content.others? %>
    </div>
    <%= render partial: "item", locals: {content: content} %>
  <% end %>
<% end %>