<% @disc_contents.each do |content| %>
  <% if content.disc_version_id == version.id %>
    <div class="my-3">
      <%= "【" + content.event.name + "】" if content.events? %>
    </div>
    <% @disc_items.each do |item| %>
      <p><%= item.song.name if item.disc_content_id == content.id && item.song_id.present? %></p>
      <p><%= item.title if item.disc_content_id == content.id && item.title.present? %></p>
    <% end %>
  <% end %>
<% end %>