<% items.each do |item| %>
  <div class="mb-2">
    <% if item.song_id.present? %>
      <%= link_to show_item_title(item), song_path(item.song_id) %>
    <% else %>
      <p><%= item.position.to_s + ". " + item.title if item.title.present? %></p>
    <% end %>
  </div>
<% end %>