<div data-controller="dialog" data-action="click->dialog#backdropClose">
  <dialog data-dialog-target="dialog" class="bg-neutral-200 p-3 text-slate-900 rounded-lg">
    <div class="mb-3 leading-8">
      <p>
        <i class="fa-solid fa-circle-question mr-1"></i>
        当日演奏された各楽曲についての情報を投稿できます。アレンジやトラブルなど、<strong>自由に</strong>投稿してください！<br>
        【例】
        <ul class="list-disc list-outside pl-5">
          <li>今日初披露の新曲らしい。「愛してる〜この世界で〜」的な歌詞だった気がする🫨</li>
          <li>思いっきり2サビの歌詞を間違えるDeuさん。</li>
          <li>Takeuchiさんはこの曲あたりから足が肉離れしていたらしい。</li>
        </ul>
      </p>
    </div>
    <button type="button" data-action="dialog#close" autofocus class="place-items-end"><i class="fa-regular fa-circle-xmark mr-1"></i>閉じる</button>
  </dialog>
  <button type="button" data-action="dialog#open"><i class="fa-solid fa-circle-question ml-3"></i></button>
</div>