<div class="card w-full shadow-2xl mb-7 bg-base-300 text-base-content">
  <figure>
    <turbo-frame id="member_image_<%= member.id %>" src="/member/<%= member.id %>/image" loading="lazy">
      <div class="my-3 flex">
        <span class="loading loading-spinner loading-xs mr-1"></span>
        <p class="text-center">画像読み込み中...</p>
      </div>
    </turbo-frame>
  </figure>
  <div class="card-body p-4">
    <h2 class="card-title mb-3 link"><%= link_to member.name, member_path(member) %></h2>
  </div>
</div>
